@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.navbar {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  padding-bottom: 2px;
  padding-left: 10px;

  .navbar-title {
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    padding-right: 10px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  .navbar-item-container {
    display: grid;
    grid-template-columns: 40% 40% 40%;
    font-size: x-large;
    margin-left: 2px;
  }

  .navbar-items {
    padding: 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(150,150,150,0.1);
      transform: scale(1.05);
      transition: background-color 0.1s;
      border-radius: 20px;
    }
  }
}